<div>

  <form action="/links" method="POST">

    <label for="title">Insert the title</label>
    <input type="text" name="title">

    <label for="url">Insert the url</label>
    <input type="text" name="url">

    <label for="tags">Tags</label>
    <input type="text" name="text">

    <input type="submit" value="Create link">

  </form>



</div>
